{% extends '::base.html.twig' %}

{% block title %}Edit Read Settings{% endblock %}

{% block body %}
    {{ form(form) }}

    <a href="{{ path('read_store_edit', appParams) }}" class="btn btn-default">New Table</a>
    <a href="{{ path('read_filters', appParams) }}" class="btn btn-default">Edit Filters</a>
{% endblock %}
